@model Restaurant.Areas.Admin.MVModels.MVMasterOffer

@{
    ViewData["Title"] = "Edit";
}
<div class="pagetitle ">
    <h1>Offers</h1>
    <hr />
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="MasterOffer">Offer Manage</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<div class="card-body">

    <div class="card flex-row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="col-6">
                <img class="card-img-right example-card-img-responsive right_im im_change" src="~/Offer_image/@Model.MasterOfferImageUrl" width="100%" height="100%" />
            </div>
            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row " style="padding:20px">
                    <div class="form-group d-none">
                        <label asp-for="MasterOfferId" class="control-label"></label>
                        <input asp-for="MasterOfferId" class="form-control" />
                        <span asp-validation-for="MasterOfferId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateId" class="control-label"></label>
                        <input asp-for="CreateId" class="form-control" />
                        <span asp-validation-for="CreateId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="MasterOfferTitle" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">
                            <input autofocus asp-for="MasterOfferTitle" class="form-control" />
                            <span asp-validation-for="MasterOfferTitle" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row  col-md-12">
                        <label asp-for="MasterOfferBreef" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="MasterOfferBreef" class="form-control" />
                            <span asp-validation-for="MasterOfferBreef" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="MasterOfferDesc" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="MasterOfferDesc" class="form-control" />
                            <span asp-validation-for="MasterOfferDesc" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="MasterOfferImageUrl" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input type="file" asp-for="File" class="form-control file_change" />
                            <span asp-validation-for="File" class="text-danger"></span>
                            <input type="hidden" asp-for="MasterOfferImageUrl" />
                        </div>

                    </div>

                    <div class="row  col-md-12 d-none">
                        <label asp-for="IsActive" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9 m_auto">

                            <div class="form-check form-switch">


                                @if (@Model.IsActive == true)
                                {
                                    <input class="form-check-input" asp-for="IsActive" type="checkbox" id="flexSwitchCheckChecked" checked>

                                }
                                else if (Model.IsActive == false)
                                {
                                    <input class="form-check-input" asp-for="IsActive" type="checkbox" id="flexSwitchCheckDefault">

                                }
                            </div>

                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
        </form>
    </div>
</div>
 
<div>
    <a asp-action="Index" class="btn btn-secondary">&laquo; Previous</a>
</div>

