@model Restaurant.Models.MasterMenu

@{
    ViewData["Title"] = "Create";
}


<div class="pagetitle">
    <h1>Menu</h1>
    <hr />
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterMenu">Manage Menu</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="row mb-3 col-md-6">
                                <label asp-for="MasterMenuName" class="col-sm-6 col-form-label bold"></label>
                                <div class="col-sm-6">
                                    <input autofocus asp-for="MasterMenuName" class="form-control" />
                                    <span asp-validation-for="MasterMenuName" class="text-danger"></span>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="row mb-3 col-md-6">
                                    <label asp-for="MasterMenuUrl" class="col-sm-6 col-form-label bold"></label>
                                    <div class="col-sm-6">
                                        <input autofocus asp-for="MasterMenuUrl" class="form-control" />
                                        <span asp-validation-for="MasterMenuUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group " style="direction:rtl;">
                                    <input type="submit" value="Create" class="btn btn-primary " />

                                    <a asp-action="Index" class="btn btn-dark ">Back to List</a>
                                </div>
</form>
                </div>
            </div>
        </div>
    </div>
</section>

