@model Restaurant.Models.MasterMenu

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle ">
    <h1>Menu</h1>
    <hr />
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="MasterMenu">Manage Menu</a></li>
            <li class="breadcrumb-item active">Edite</li>
        </ol>
    </div>
</div>
<div class="card-body">
    <div>
        <div class="card">

            <div class="row m_input">
                <div class="col-md-6">
                    <form asp-action="Edit" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row " style="padding:20px">
                            <div class="form-group d-none">
                                <label asp-for="MasterMenuId" class="control-label"></label>
                                <input asp-for="MasterMenuId" class="form-control" />
                                <span asp-validation-for="MasterMenuId" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="CreateId" class="control-label"></label>
                                <input asp-for="CreateId" class="form-control" />
                                <span asp-validation-for="CreateId" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="IsDelete" class="control-label"></label>
                                <input asp-for="IsDelete" class="form-control" />
                                <span asp-validation-for="IsDelete" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="CreateDate" class="control-label"></label>
                                <input asp-for="CreateDate" class="form-control" />
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>
                            <div class="row  col-md-12">
                                <label asp-for="MasterMenuName" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8 m_auto">
                                    <input autofocus asp-for="MasterMenuName" class="form-control" />
                                    <span asp-validation-for="MasterMenuName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row  col-md-12">
                                <label asp-for="MasterMenuUrl" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8 m_auto">
                                    <input autofocus asp-for="MasterMenuUrl" class="form-control" />
                                    <span asp-validation-for="MasterMenuUrl" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="row  col-md-12 d-none">
                                <label asp-for="IsActive" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8 m_auto">

                                    <div class="form-check form-switch">


                                        @if (@Model.IsActive == true)
                                        {
                                            <input class="form-check-input" asp-for="IsActive" type="checkbox" id="flexSwitchCheckChecked" checked>

                                        }
                                        else if (Model.IsActive == false)
                                        {
                                            <input class="form-check-input" asp-for="IsActive" type="checkbox" id="flexSwitchCheckDefault">

                                        }
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">&laquo; Previous</a>
</div>
