@model Restaurant.Areas.Admin.MVModels.MVSystemSetting


@{
    ViewData["Title"] = "Create";
}


<div class="pagetitle">
    <h1>SystemSetting</h1>
    <hr />
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SystemSetting">Manage SystemSetting</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="row mb-3 col-md-6">
                                <label asp-for="SystemSettingWelcomeNoteTitle" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input autofocus asp-for="SystemSettingWelcomeNoteTitle" class="form-control" />
                                    <span asp-validation-for="SystemSettingWelcomeNoteTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="SystemSettingWelcomeNoteUrl" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="SystemSettingWelcomeNoteUrl" class="form-control" />
                                    <span asp-validation-for="SystemSettingWelcomeNoteUrl" class="text-danger"></span>
                                </div>
                            </div>



                            <div class=" row mb-3 col-md-6">
                                <label asp-for="SystemSettingWelcomeNoteDesc" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="SystemSettingWelcomeNoteDesc" class="form-control" />
                                    <span asp-validation-for="SystemSettingWelcomeNoteDesc" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="SystemSettingMapLocation" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="SystemSettingMapLocation" class="form-control" />
                                    <span asp-validation-for="SystemSettingMapLocation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="SystemSettingCopyright" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="SystemSettingCopyright" class="form-control" />
                                    <span asp-validation-for="SystemSettingCopyright" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="File_Welcome" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input type="file" asp-for="File_Welcome" class="form-control" />
                                    <span asp-validation-for="File_Welcome" class="text-danger"></span>


                                </div>

                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="SystemSettingWelcomeNoteBreef" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="SystemSettingWelcomeNoteBreef" class="form-control" />
                                    <span asp-validation-for="SystemSettingWelcomeNoteBreef" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="File_logo1" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input type="file" asp-for="File_logo1" class="form-control" />
                                    <span asp-validation-for="File_logo1" class="text-danger"></span>


                                </div>

                            </div>
                            <div class=" row mb-3 col-md-6">
                                <label asp-for="File_logo2" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input type="file" asp-for="File_logo2" class="form-control" />
                                    <span asp-validation-for="File_logo2" class="text-danger"></span>


                                </div>

                            </div>






                        </div>

                        <div class="form-group " style="direction:rtl;">
                            <input type="submit" value="Create" class="btn btn-primary " />

                            <a asp-action="Index" class="btn btn-dark ">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@


