@model Restaurant.Models.TransactionBookTable

@{
    ViewData["Title"] = "Edit";
}
<div class="pagetitle ">
    <h1>Transaction BookTable</h1>
    <hr />
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="TransactionBookTable">Manage TransactionBookTable</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<div class="card-body">

    <div class="card flex-row">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div class="col-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row " style="padding:20px">
                    <div class="form-group d-none">
                        <label asp-for="TransactionBookTableId" class="control-label"></label>
                        <input asp-for="TransactionBookTableId" class="form-control" />
                        <span asp-validation-for="TransactionBookTableId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateId" class="control-label"></label>
                        <input asp-for="CreateId" class="form-control" />
                        <span asp-validation-for="CreateId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>

                    <div class="form-group d-none">
                        <label asp-for="IsActive" class="control-label"></label>
                        <input asp-for="IsActive" class="form-control" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>

                    <div class="row  col-md-12">
                        <label asp-for="TransactionBookTableFullName" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="TransactionBookTableFullName" class="form-control" />
                            <span asp-validation-for="TransactionBookTableFullName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="TransactionBookTableEmail" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="TransactionBookTableEmail" class="form-control" />
                            <span asp-validation-for="TransactionBookTableEmail" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="TransactionBookTableMobileNumber" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="TransactionBookTableMobileNumber" class="form-control" />
                            <span asp-validation-for="TransactionBookTableMobileNumber" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row  col-md-12">
                        <label asp-for="TransactionBookTableDate" class="col-sm-3 col-form-label bold"></label>
                        <div class="col-sm-9">

                            <input asp-for="TransactionBookTableDate" type="datetime-local" class="form-control" />
                            <span asp-validation-for="TransactionBookTableDate" class="text-danger"></span>
                        </div>

                    </div>



                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">&laquo; Previous</a>
</div>

