@model Restaurant.Models.MasterWorkingHours

@{
    ViewData["Title"] = "Edit";
}
<div class="pagetitle ">
    <h1>WorkingHours</h1>
    <hr />
    <div class="">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="MasterWorkingHours">WorkingHours Manage </a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<div class="card-body">
    <div>
        <div class="card flex-row">

            <div class="row m_input">
                <div class="col-md-12">
                    <form asp-action="Edit" enctype="multipart/form-data">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row " style="padding:20px">
                            <div class="form-group d-none">
                                <label asp-for="MasterWorkingHoursId" class="control-label"></label>
                                <input asp-for="MasterWorkingHoursId" class="form-control" />
                                <span asp-validation-for="MasterWorkingHoursId" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="CreateId" class="control-label"></label>
                                <input asp-for="CreateId" class="form-control" />
                                <span asp-validation-for="CreateId" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="CreateDate" class="control-label"></label>
                                <input asp-for="CreateDate" class="form-control" />
                                <span asp-validation-for="CreateDate" class="text-danger"></span>
                            </div>

                            <div class="form-group d-none">
                                <label asp-for="IsActive" class="control-label"></label>
                                <input asp-for="IsActive" class="form-control" />
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>

                            <div class="row  col-md-12">
                                <label asp-for="MasterWorkingHoursName" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm9">
                                    <input autofocus asp-for="MasterWorkingHoursName" class="form-control" />
                                    <span asp-validation-for="MasterWorkingHoursName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row  col-md-12">
                                <label asp-for="MasterWorkingHoursTimeFormTo" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm9">
                                    <input autofocus asp-for="MasterWorkingHoursTimeFormTo" class="form-control" />
                                    <span asp-validation-for="MasterWorkingHoursTimeFormTo" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">&laquo; Previous</a>
</div>

